<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    
    <!-- グローバルマッピングの設定 -->
    <settings>
        <!-- デフォルトで自動コミットを無効化 -->
        <setting name="autoMappingBehavior" value="PARTIAL"/>
        <!-- データベースフィールドのキャメルケース変換を有効化 -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    
</configuration>