<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>案件一覧</title>
    <link th:href="@{/css/projectList.css}" rel="stylesheet">
</head>

<body>
    <div id="wrapper">
        <header class="header">
            <h1>案件一覧</h1>
        </header>

        <div class="table-container">
            <table class="table">
                <thead>
                    <tr>
                        <th>案件ID</th>
                        <th>ユーザーID</th>
                        <th>名前</th>
                        <th>案件名</th>
                        <th>リモート可否</th>
                        <th>稼働場所</th>
                        <th>業務内容</th>
                        <th>使用言語</th>
                        <th>備考</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="project : ${projectList}">
                        <td th:text="${project.projectId}"></td>
                        <td th:text="${project.userId}"></td>
                        <td th:text="${project.name}"></td>
                        <td th:text="${project.projectName}"></td>
                        <td th:text="${project.remoteAvailabilityText}"></td>
                        <td th:text="${project.workLocation}"></td>
                        <td th:text="${project.jobDescription}"></td>
                        <td th:text="${project.programmingLanguage}"></td>
                        <td th:text="${project.remarks}"></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="button-group">
            <a th:href="${backUrl}" class="btn btn-primary">戻る</a>
        </div>
    </div>
</body>

</html>