<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ユーザーリスト</title>
    <link th:href="@{css/userList.css}" rel="stylesheet">
</head>

<body>
    <h2>ユーザー一覧</h2>

    <table border="1">
        <thead>
            <tr>
                <th>ユーザーID</th>
                <th>氏名</th>
                <th>フリガナ</th>
                <th>メールアドレス</th>
                <th>権限</th>
                <th>詳細</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user : ${userList}">
                <td th:text="${user.userId}"></td>
                <td th:text="${user.name}"></td>
                <td th:text="${user.kana}"></td>
                <td th:text="${user.address}"></td>
                <td th:text="${user.role == '1' ? '管理者' : '一般'}"></td>

                <td>
                    <th:block th:if="${isAdmin}">
                        <a th:href="@{/home/userList/userEdit/{loginUserId}/{targetUserId}(loginUserId=${loginUserId}, targetUserId=${user.userId})}">編集・削除</a><br />
                        <a th:href="@{/userDetail/projectList/{userId}(userId=${user.userId})}">案件一覧</a><br />
                        <a th:href="@{/home/attendance/attendanceList/{userId}(userId=${user.userId})}">勤怠一覧</a>
                    </th:block>

                    <th:block th:if="${!isAdmin} and ${loginUserId == user.userId}">
                        <a th:href="@{/home/userList/userEdit/{loginUserId}/{targetUserId}(loginUserId=${loginUserId}, targetUserId=${user.userId})}">ユーザー詳細</a><br />
                        <a th:href="@{/userDetail/projectList/{userId}(userId=${user.userId})}">案件一覧</a><br />
                        <a th:href="@{/home/attendance/attendanceList/{userId}(userId=${user.userId})}">勤怠一覧</a>
                    </th:block>
                </td>
            </tr>
        </tbody>
    </table>

    <div th:if="${isAdmin}">
        <a th:href="@{/userList/projectRegistration/{userId}(userId=${loginUserId})}">
            案件登録
        </a>
        <a th:href="@{/home/{userId}(userId=${loginUserId})}">戻る</a>
    </div>

    <div th:if="${!isAdmin}">
        <a th:href="@{/home/{userId}(userId=${loginUserId})}">戻る</a>
    </div>

</body>

</html>