<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
       PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
       "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.example.demo.dao.AttendanceEditMapper">

<!-- 当日出勤データチェック -->
 <select id="findByAttendanceId"  parameterType="int" resultType="com.example.demo.entity.AttendanceEditEntity">
        SELECT
            attendance_id,
            user_id,
            start_date,
            leaving_date,
            start_time,
            leaving_time,
            operation_time,
            break_time,
            remarks
        FROM
            attendance_tbl
        WHERE
            attendance_id = #{attendanceId}
    </select>
	
</mapper>