<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
       PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
       "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.UserEditMapper">

	<!-- userIdに紐づく勤怠情報を取得 -->
	<select id="findByUserId" parameterType="java.lang.Integer" resultType="com.example.demo.entity.UserEditEntity">
		SELECT
			user_id,
			name,
			kana,
			address,
			password,
			role
		FROM
			user_tbl 
		WHERE
			user_id = #{targetUserId}
	</select>
	
	<!-- userIdに紐づくパスワードを取得 -->
	<select id="findByIdGetPassword" parameterType="java.lang.Integer" resultType="java.lang.String">
        SELECT
            password
        FROM
            user_tbl
        WHERE
            user_id = #{userId}
    </select>
    
    <update id="updateUser" parameterType="com.example.demo.entity.UserEditEntity">
        UPDATE
            user_tbl
        SET
            name = #{name},
            kana = #{kana},
            address = #{address},
            role = #{role}
        WHERE
            user_id = #{userId}
    </update>
    
    <!-- userIdに紐づく情報に削除フラグを立てる -->
    <update id="deleteById" parameterType="java.lang.Integer">
        UPDATE
            user_tbl
        SET
            delete_flag = 1
        WHERE
            user_id = #{userId}
    </update>


</mapper>