<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
       PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
       "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.dao.UserMapper">

      <!-- ユーザー情報取得する  -->
      <select id="findByUserId" parameterType="java.lang.Integer" resultType="com.example.demo.entity.User">
        SELECT
            user_id,
            name,
            kana,
            address,
            password,
            role
        FROM
            user_tbl
        WHERE
            user_id = #{userId}
    </select>

</mapper>