<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
       PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
       "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.dao.UserDetailMapper">


    <select id="findByUserId" parameterType="java.lang.Integer" >
        SELECT
            user_id,
            name,
            kana,
            address,
            role,
            delete_flag
        FROM
            user_tbl
        WHERE
            user_id = #{userId}
            AND delete_flag = 0
    </select>

    </mapper>